@{
    ViewData["Title"] = "About";
}
<div class="container pBlack">
    <button type="button" id="sidebarCollapse" style="color: black; background-color: none; margin-right: 30px;" class="btn btn-light">
        <i class="fas fa-align-left"></i>
    </button>
    <h1>TOOTBLAN - (Fielder Allowed Runner To Score Like A Moron)</h1>
    <p><a href="https://www.youtube.com/watch?v=k8WXdHzvAdc&feature=youtu.be">Example</a></p>

    <p>There are plenty of places you could go to see the most specific baseball stats you can think of. % of swings against curevballs that made contact? Yup. Number of steals vs. 
    left handed pitchers? Someone has it. VORP? I swear it's real. But off the top of my head, I couldn't think of a single place to see any data GRAPHED. Well, that's what this is. Enjoy.</p>

    <p><a href="https://github.com/Vendeta25/TOOTBLAN.dev">See the source code on my Github page</a>. The whole site is a pretty basic MVC structure, using Chart.js for the graphing and bootstrap for style. Credit to <a href="https://appac.github.io/mlb-data-api-docs/">MLB Advanced Media, L.P ("MLBAM")</a>
    for the API and data. This is for completely non-comercial use. There will never be any money made using this site by me.</p>

    <p>Special thanks to:</p>
    <ul>
        <li>Tom ONeill- for pointing me in the right direction</li>
        <li>The Cleveland Indians Subreddit Discord Server- for all the fast bug reports!</li>

    </ul>

</div>
