@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="container">
    <button type="button" id="sidebarCollapse" style="color: black; background-color: none; margin-right: 30px;" class="btn btn-light">
        <i class="fas fa-align-left"></i>
    </button>

    <h1>@ViewData["Title"]</h1>

    <p>This site collects no data. In fact, I'm giving you baseball data. This is a net loss of data for me.</p>

</div>